@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
/* common css style */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
}
body {
    background: #F3F1FF;
}
.container {
    max-width: 870px;
    margin: 0 auto;
}
.bg-color {
    background-color: #ffffff;
    padding: 33px;
}
.section-title {
    font-size: 24px;
    font-weight: 500;
    color: #562EFF;
    margin-bottom: 35px;
}
/* header style start  */
header {
    background: #562EFF;
    padding: 18px 0;
    margin-bottom: 35px;
    position: sticky;
    top: 0;
}
.flexible-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo, .navigation{
    display: flex;
    align-items: center;
}
.logo span {
    color: #ffffff;
    font-size: 24px;
    margin-left: 15px;
    font-weight: 500;
}
.navigation ul li {
    list-style: none;
    display: inline-block;
    margin-right: 35px;
}
.navigation a {
    text-decoration: none;
    color: #Ffffff;
}
.navigation img {
    width: 50px;
    height: 50px;
}

/* top player section style start */
.top-players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player {
    display: flex;
    align-items: center;
}
.player h3 {
    font-size: 18px;
    color: #000000;
    font-weight: 500;
}
.player img {
    width: 56px;
    height: 56px;
    margin-right: 16px;
}
hr {
    margin: 30px 0;
    color: gray;
}
/* top blog style star */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 16px;
}
.thumbail img {
    width: 180px;
    height: 115px;
    border-radius: 10px;
    margin-right: 16px;
}
.blogs .single-blog {
    display: flex;
    align-items: center;
}
.blog-info h3, .course .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 6px;
}
.blog-info span{
    color: gray;
}
.blog-info a {
    text-decoration: none;
}

/* latast course style start */
#latast-course {
    margin-bottom: 20px;
}
.courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(252px,1fr));
    grid-column-gap: 24px;
}
.courses .course {
    border-radius: 13px;
    padding: 13px;
    box-shadow: 0px 5.342289924621582px 13.35572338104248px 0px #0000000D;
}
.course .thumbail img {
    width: 224px;
    height: 104;
    margin-bottom: 20px;
}
.course span {
    color: #ED6B4F
}
.course-duration {
    display: flex;
    align-items: center;
}
.course-duration .rating {
    margin: 0 30px 0 10px;
    font-size: 14px;
    padding-top: 4;
}
.course-duration .stars i {
    color: #FFC014;
    font-size: 12px;
}
.course-duration .stars i:last-child{
    color: #AEAEAE
}
.course-duration .duration {
    padding: 5px 8px;
    border-radius: 15px;
    background-color: #FFE4E8;
    display: flex;
    align-items: center;
}
.course-duration .duration i {
    font-size: 20px;
    color: #FF4A60;
    margin-right: 5px;
}
.course-duration .duration span {
    font-size: 14px;
    font-weight: 500;
    color: #FF4A60;
}